.container {
  @include container;
}

ul {
  margin: emRhythm(4) 0;
  ul {
    margin: 0;
  }
}

li {
  list-style: none;
  li label {
    padding-left: emRhythm(4, $ms-down1);
  }
}

label {
  display: block;
  padding: 0 emRhythm(2);
  position: relative;
}

/* type settings defaults 
h2, .h2 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);

  @media (min-width: 43.75em) {
    margin-bottom: emRhythm(1, $ms-up2);
    @include setType(6, $ms-up2)
  }

  @media (min-width: 56.25em) {
    margin-bottom: emRhythm(1, $ms-up3);
    @include setType(8, $ms-up3);
  }
}

h3, .h3 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);

  @media (min-width: 56.25em) {
    margin-bottom: emRhythm(1, $ms-up2);
    @include setType(6, $ms-up2);
  }
}

h4, .h4 {
  margin-bottom: emRhythm(1, $ms-up1);
  @include setType(5, $ms-up1);
}

h5, .h5,
h6, .h6 {
  margin-bottom: emRhythm(1);
  @include setType(4);
}
*/

h3, .h3 {
  @include setType(6, $ms-up1);
  padding-left: emRhythm(2, $ms-up1);
  margin-bottom: 0;
  @media (min-width: 56.25em) {
    margin-bottom: 0;
    padding-left: emRhythm(2, $ms-up2);
    @include setType(8, $ms-up2);
  }
}

h4, .h4 {
  margin-bottom: 0;
  @include setType(8, $ms-up1);
  padding-left: emRhythm(2, $ms-up1);
}


#secondary-pane {
  @include span(4 of 16);
  box-sizing: border-box;
  // padding: 1em;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#cards {
  box-sizing: border-box;
  // padding: 1em;
  position: fixed;
  left: span(4);
  right: 0;
  top: 0;
  bottom: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.card-list {
  @include span(6 of 12);
  label {
    padding: 0 emRhythm(3, $ms-down1);
  }
  &:last-child {
    @include span(6 at 7 of 12);
  }
}

.fa.fa-exchange {
  display: inline-block;
  font-size: 12px;
  padding: 3px;
  border-radius: 2px;
  margin-right: 5px;
  position: absolute;
  top: 2px;
  left: emRhythm(1, $ms-down1);
  min-width: 8px;
  min-height: 8px;
}

#selected-card {
  box-sizing: border-box;
  // padding: 1em;
  position: fixed;
  left: span(4);
  right: 0;
  top: 50%;
  bottom: 0;
  overflow-y: auto;
  img {
    float: left;
    margin-left: emRhythm(2);
  }
  h3 {
    margin-bottom: emRhythm(4, $ms-up1);
    @media (min-width: 56.25em) {
      margin-bottom: emRhythm(4, $ms-up2);
    }
  }
}

.card-details {
  @include span(6 at 7 of 12);
}

td {
  padding-right: emRhythm(2);
}